instance copy.cfg
minecraft/.mixin.out
minecraft/Distant_Horizons_server_data
minecraft/TrashSlotSaveState.json
minecraft/coremods
minecraft/defaultconfigs
minecraft/downloads
minecraft/fancymenu_data
minecraft/kiwipacks
minecraft/moddata
minecraft/saves
minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/servers.dat_old
minecraft/texturepacks
minecraft/usercache.json
minecraft/waypoints
minecraft/flame
minecraft/journeymap
minecraft/crash-reports
minecraft/logs
minecraft/debug
minecraft/config/*
!minecraft/config/fancymenu
!minecraft/config/voicechat
!minecraft/config/inventoryprofilesnext
instance.cfg
!minecraft/config/voicechat/translations.properties
minecraft/options.txt
launch_minecraft_intel.sh
launch_minecraft_nvidia_workaround.sh
launch_minecraft_stable.sh
minecraft/mods/.index/accessories.pw.toml
minecraft/mods/.index/artifacts.pw.toml
minecraft/mods/.index/octo-lib.pw.toml
minecraft/mods/.index/refurbished-furniture.pw.toml
minecraft/mods/.index/relics-mod.pw.toml
minecraft/mods/.index/threadtweak-reforged.pw.toml
.kiro/hooks/auto-git-commit.kiro.hook
minecraft/command_history.txt
minecraft/options copy.txt
minecraft/usernamecache.json
minecraft/immersive_paintings_cache/**
minecraft/config/inventoryprofilesnext/minesimons.enxada.host/prev-villager-trading-config-v2.json
minecraft/config/inventoryprofilesnext/minesimons.enxada.host/profiles-V2.txt
minecraft/mods/.index/another-furniture.pw.toml
minecraft/mods/.index/copycats.pw.toml
minecraft/mods/.index/create-power-loader.pw.toml
minecraft/mods/.index/flerovium.pw.toml
minecraft/mods/.index/immersive-paintings.pw.toml
minecraft/mods/.index/mowzies-mobs.pw.toml
minecraft/mods/MaFgLib-0.3.6-mc1.21.1.jar
minecraft/mods/Forgematica-0.3.3-mc1.21.1.jar.disabled
minecraft/config/inventoryprofilesnext/minesimons.enxada.host/lockSlots.txt
minecraft/config/inventoryprofilesnext/minesimons.enxada.host/prev-villager-trading-config-v2.json
minecraft/config/inventoryprofilesnext/minesimons.enxada.host/profiles-V2.txt
minecraft/config/inventoryprofilesnext/The Eras Tour/prev-villager-trading-config-v2.json
minecraft/config/inventoryprofilesnext/The Eras Tour/villager-trading-config-v2.json
minecraft/immersive_paintings_cache/0b1f2a70-8d63-386a-8ac1-c095f315ef01/880d493def29831cb5ade0a881998874_eighth.png
minecraft/immersive_paintings_cache/0b1f2a70-8d63-386a-8ac1-c095f315ef01/880d493def29831cb5ade0a881998874_half.png
minecraft/immersive_paintings_cache/0b1f2a70-8d63-386a-8ac1-c095f315ef01/880d493def29831cb5ade0a881998874_quarter.png
minecraft/immersive_paintings_cache/0b1f2a70-8d63-386a-8ac1-c095f315ef01/880d493def29831cb5ade0a881998874_thumbnail.png
minecraft/immersive_paintings_cache/0b1f2a70-8d63-386a-8ac1-c095f315ef01/880d493def29831cb5ade0a881998874.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/6edb8dea9a166bffef68e6caa0c30751_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/6edb8dea9a166bffef68e6caa0c30751_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/6edb8dea9a166bffef68e6caa0c30751_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/6edb8dea9a166bffef68e6caa0c30751_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/6edb8dea9a166bffef68e6caa0c30751.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7a7034a12485cd22f1e43b00e23cb223_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/07bd322b7cd2317ff3a0e0cacfeaf827_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/07bd322b7cd2317ff3a0e0cacfeaf827_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/07bd322b7cd2317ff3a0e0cacfeaf827_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/07bd322b7cd2317ff3a0e0cacfeaf827_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/07bd322b7cd2317ff3a0e0cacfeaf827.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e3b45a87d121b86e970f1192d19dbf5_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e3b45a87d121b86e970f1192d19dbf5_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e3b45a87d121b86e970f1192d19dbf5_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e3b45a87d121b86e970f1192d19dbf5_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e3b45a87d121b86e970f1192d19dbf5.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/9ed383509d8bac9d627099d3ea1d7332_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/9ed383509d8bac9d627099d3ea1d7332_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/9ed383509d8bac9d627099d3ea1d7332_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/9ed383509d8bac9d627099d3ea1d7332_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/9ed383509d8bac9d627099d3ea1d7332.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/31d83f8c0e4ccddaf884f478eca627e1_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/31d83f8c0e4ccddaf884f478eca627e1_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/31d83f8c0e4ccddaf884f478eca627e1_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/31d83f8c0e4ccddaf884f478eca627e1_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/31d83f8c0e4ccddaf884f478eca627e1.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a3a1587ce59c4f26dcd661ffc323518e_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a3a1587ce59c4f26dcd661ffc323518e_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a3a1587ce59c4f26dcd661ffc323518e_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a3a1587ce59c4f26dcd661ffc323518e_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a3a1587ce59c4f26dcd661ffc323518e.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a69d24e052df4f7cf0d4b66b117715ad_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a69d24e052df4f7cf0d4b66b117715ad_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a69d24e052df4f7cf0d4b66b117715ad_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a69d24e052df4f7cf0d4b66b117715ad_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/a69d24e052df4f7cf0d4b66b117715ad.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/bc8254784a689bd342aeb37ef8989f7a_thumbnail.png
minecraft/immersive_paintings_cache/6d152f38-579c-3e51-b8c8-aedc769ed987/d4913cf63ca2a8daaad13a97b1d16d27_eighth.png
minecraft/immersive_paintings_cache/6d152f38-579c-3e51-b8c8-aedc769ed987/d4913cf63ca2a8daaad13a97b1d16d27_half.png
minecraft/immersive_paintings_cache/6d152f38-579c-3e51-b8c8-aedc769ed987/d4913cf63ca2a8daaad13a97b1d16d27_quarter.png
minecraft/immersive_paintings_cache/6d152f38-579c-3e51-b8c8-aedc769ed987/d4913cf63ca2a8daaad13a97b1d16d27_thumbnail.png
minecraft/immersive_paintings_cache/6d152f38-579c-3e51-b8c8-aedc769ed987/d4913cf63ca2a8daaad13a97b1d16d27.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsbeyondhillanddalealenaaenami32pxpng_eighth.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsbeyondhillanddalealenaaenami32pxpng_half.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsbeyondhillanddalealenaaenami32pxpng_quarter.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsbeyondhillanddalealenaaenami32pxpng.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsgothiclandscapesorokaalexej32pxpng_eighth.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsgothiclandscapesorokaalexej32pxpng_half.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsgothiclandscapesorokaalexej32pxpng_quarter.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingsgothiclandscapesorokaalexej32pxpng.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslakesareltheron32pxpng_eighth.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslakesareltheron32pxpng_half.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslakesareltheron32pxpng_quarter.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslakesareltheron32pxpng.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslifeintheskyvladimirkostuchek32pxpng_eighth.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslifeintheskyvladimirkostuchek32pxpng_half.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslifeintheskyvladimirkostuchek32pxpng_quarter.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingslifeintheskyvladimirkostuchek32pxpng.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingswindmilltowndarekzabrocki32pxpng_eighth.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingswindmilltowndarekzabrocki32pxpng_half.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingswindmilltowndarekzabrocki32pxpng_quarter.png
minecraft/immersive_paintings_cache/datapack/immersivepaintingspaintingswindmilltowndarekzabrocki32pxpng.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/17bf53ec79cb56d9e17fa18307da97d0_eighth.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/17bf53ec79cb56d9e17fa18307da97d0_half.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/17bf53ec79cb56d9e17fa18307da97d0_quarter.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/17bf53ec79cb56d9e17fa18307da97d0_thumbnail.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/17bf53ec79cb56d9e17fa18307da97d0.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/2109ca26075e15233484b5c6b479e3de_eighth.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/2109ca26075e15233484b5c6b479e3de_half.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/2109ca26075e15233484b5c6b479e3de_quarter.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/2109ca26075e15233484b5c6b479e3de_thumbnail.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/2109ca26075e15233484b5c6b479e3de.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/4982ad1e0b21df763cd80b0226439a3b_eighth.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/4982ad1e0b21df763cd80b0226439a3b_half.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/4982ad1e0b21df763cd80b0226439a3b_quarter.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/4982ad1e0b21df763cd80b0226439a3b_thumbnail.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/4982ad1e0b21df763cd80b0226439a3b.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/a6e158a3f1c287d7e71911107162e38b_eighth.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/a6e158a3f1c287d7e71911107162e38b_half.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/a6e158a3f1c287d7e71911107162e38b_quarter.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/a6e158a3f1c287d7e71911107162e38b_thumbnail.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/a6e158a3f1c287d7e71911107162e38b.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/f68599cc432fde43662854a70df7edc5_eighth.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/f68599cc432fde43662854a70df7edc5_half.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/f68599cc432fde43662854a70df7edc5_quarter.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/f68599cc432fde43662854a70df7edc5_thumbnail.png
minecraft/immersive_paintings_cache/e7b46e8e-da4b-3b04-9a9a-178ce42b9f3a/f68599cc432fde43662854a70df7edc5.png
launch_minecraft_intel_blacklist.sh
launch_minecraft_intel_only.sh
launch_minecraft_reduced_graphics.sh
set_performance.sh
set_powersave.sh
.gitignore
mmc-pack.json
instance.cfg
minecraft/mods/.index/3dskinlayers.pw.toml
minecraft/mods/.index/additional-structures.pw.toml
minecraft/mods/.index/addonslib.pw.toml
minecraft/mods/.index/adorable-eggs.pw.toml
minecraft/mods/.index/adorabuild-structures.pw.toml
minecraft/mods/.index/advanced-netherite.pw.toml
minecraft/mods/.index/advancement-plaques.pw.toml
minecraft/mods/.index/aether-protect-your-moa.pw.toml
minecraft/mods/.index/aether-villages.pw.toml
minecraft/mods/.index/aether.pw.toml
minecraft/mods/.index/ai-improvements.pw.toml
minecraft/mods/.index/alltheleaks.pw.toml
minecraft/mods/.index/alternate-current.pw.toml
minecraft/mods/.index/ambientsounds.pw.toml
minecraft/mods/.index/amendments.pw.toml
minecraft/mods/.index/animal-armor-trims.pw.toml
minecraft/mods/.index/appleskin.pw.toml
minecraft/mods/.index/aquaculture.pw.toml
minecraft/mods/.index/architectury-api.pw.toml
minecraft/mods/.index/athena-ctm.pw.toml
minecraft/mods/.index/attributefix.pw.toml
minecraft/mods/.index/auto-message.pw.toml
minecraft/mods/.index/badoptimizations.pw.toml
minecraft/mods/.index/balm.pw.toml
minecraft/mods/.index/beautiful-campfires.pw.toml
minecraft/mods/.index/beautiful-enchanted-books-mod-edition.pw.toml
minecraft/mods/.index/better-advancements.pw.toml
minecraft/mods/.index/better-archeology.pw.toml
minecraft/mods/.index/better-combat.pw.toml
minecraft/mods/.index/better-fps-render-distance.pw.toml
minecraft/mods/.index/better-third-person.pw.toml
minecraft/mods/.index/betterf3.pw.toml
minecraft/mods/.index/biomes-o-plenty.pw.toml
minecraft/mods/.index/bookshelf-lib.pw.toml
minecraft/mods/.index/caelus.pw.toml
minecraft/mods/.index/carry-on.pw.toml
minecraft/mods/.index/cerbons-api.pw.toml
minecraft/mods/.index/charm-of-undying.pw.toml
minecraft/mods/.index/cherished-worlds.pw.toml
minecraft/mods/.index/chipped.pw.toml
minecraft/mods/.index/chisel-reborn.pw.toml
minecraft/mods/.index/chunk-sending-forge-fabric.pw.toml
minecraft/mods/.index/clickable-advancements.pw.toml
minecraft/mods/.index/cloth-config.pw.toml
minecraft/mods/.index/clumps.pw.toml
minecraft/mods/.index/collective.pw.toml
minecraft/mods/.index/comforts.pw.toml
minecraft/mods/.index/configured.pw.toml
minecraft/mods/.index/connected-glass.pw.toml
minecraft/mods/.index/connectivity.pw.toml
minecraft/mods/.index/controlling.pw.toml
minecraft/mods/.index/corpse.pw.toml
minecraft/mods/.index/crab-claws.pw.toml
minecraft/mods/.index/create-goggles.pw.toml
minecraft/mods/.index/create-stuff-additions.pw.toml
minecraft/mods/.index/create.pw.toml
minecraft/mods/.index/creativecore.pw.toml
minecraft/mods/.index/cristel-lib.pw.toml
minecraft/mods/.index/cryonicconfig.pw.toml
minecraft/mods/.index/ct-overhaul-village.pw.toml
minecraft/mods/.index/cupboard.pw.toml
minecraft/mods/.index/curios.pw.toml
minecraft/mods/.index/custom-nether-portal.pw.toml
minecraft/mods/.index/customizable-elytra.pw.toml
minecraft/mods/.index/deep-aether.pw.toml
minecraft/mods/.index/default-options.pw.toml
minecraft/mods/.index/diagonal-fences.pw.toml
minecraft/mods/.index/diagonal-walls.pw.toml
minecraft/mods/.index/diagonal-windows.pw.toml
minecraft/mods/.index/dis-enchanting-table.pw.toml
minecraft/mods/.index/distanthorizons.pw.toml
minecraft/mods/.index/do-api.pw.toml
minecraft/mods/.index/double-doors.pw.toml
minecraft/mods/.index/dungeons-and-taverns.pw.toml
minecraft/mods/.index/easy-anvils.pw.toml
minecraft/mods/.index/easy-villagers.pw.toml
minecraft/mods/.index/elevatormod.pw.toml
minecraft/mods/.index/elytra-slot.pw.toml
minecraft/mods/.index/embeddium.pw.toml
minecraft/mods/.index/enchantment-descriptions.pw.toml
minecraft/mods/.index/enders-delight.pw.toml
minecraft/mods/.index/entity-model-features.pw.toml
minecraft/mods/.index/entityculling.pw.toml
minecraft/mods/.index/entitytexturefeatures.pw.toml
minecraft/mods/.index/epherolib.pw.toml
minecraft/mods/.index/epic-power-bracelets.pw.toml
minecraft/mods/.index/exclusive-weapons-armor-and-tools.pw.toml
minecraft/mods/.index/explorers-compass.pw.toml
minecraft/mods/.index/explorify.pw.toml
minecraft/mods/.index/fallingleavesforge.pw.toml
minecraft/mods/.index/fallingtree.pw.toml
minecraft/mods/.index/fancymenu.pw.toml
minecraft/mods/.index/farmers-delight.pw.toml
minecraft/mods/.index/farmers-structures.pw.toml
minecraft/mods/.index/fast-async-world-save-forge-fabric.pw.toml
minecraft/mods/.index/fast-ip-ping.pw.toml
minecraft/mods/.index/fast-leaf-decay.pw.toml
minecraft/mods/.index/fast-paintings.pw.toml
minecraft/mods/.index/ferrite-core.pw.toml
minecraft/mods/.index/fix-gpu-memory-leak.pw.toml
minecraft/mods/.index/forgematica.pw.toml
minecraft/mods/.index/framework.pw.toml
minecraft/mods/.index/fusion-connected-textures.pw.toml
minecraft/mods/.index/fzzy-config.pw.toml
minecraft/mods/.index/geckolib.pw.toml
minecraft/mods/.index/geophilic.pw.toml
minecraft/mods/.index/glitchcore.pw.toml
minecraft/mods/.index/goblin-traders.pw.toml
minecraft/mods/.index/golden-foods!.pw.toml
minecraft/mods/.index/guard-villagers.pw.toml
minecraft/mods/.index/handcrafted.pw.toml
minecraft/mods/.index/iceberg.pw.toml
minecraft/mods/.index/illager-invasion.pw.toml
minecraft/mods/.index/immediatelyfast.pw.toml
minecraft/mods/.index/inventory-profiles-next.pw.toml
minecraft/mods/.index/iron-chests.pw.toml
minecraft/mods/.index/iron-furnaces.pw.toml
minecraft/mods/.index/jade-addons-forge.pw.toml
minecraft/mods/.index/jade.pw.toml
minecraft/mods/.index/jamlib.pw.toml
minecraft/mods/.index/jei.pw.toml
minecraft/mods/.index/journeymap-integration.pw.toml
minecraft/mods/.index/journeymap.pw.toml
minecraft/mods/.index/just-enough-archaeology.pw.toml
minecraft/mods/.index/just-enough-professions-jep.pw.toml
minecraft/mods/.index/just-zoom.pw.toml
minecraft/mods/.index/kiwi.pw.toml
minecraft/mods/.index/kleeslabs.pw.toml
minecraft/mods/.index/konkrete.pw.toml
minecraft/mods/.index/legendary-tooltips.pw.toml
minecraft/mods/.index/libipn.pw.toml
minecraft/mods/.index/lithostitched.pw.toml
minecraft/mods/.index/longer-following-time.pw.toml
minecraft/mods/.index/macaws-bridges.pw.toml
minecraft/mods/.index/macaws-doors.pw.toml
minecraft/mods/.index/macaws-fences-and-walls.pw.toml
minecraft/mods/.index/macaws-furniture.pw.toml
minecraft/mods/.index/macaws-lights-and-lamps.pw.toml
minecraft/mods/.index/macaws-roofs.pw.toml
minecraft/mods/.index/macaws-trapdoors.pw.toml
minecraft/mods/.index/macaws-windows.pw.toml
minecraft/mods/.index/mafglib.pw.toml
minecraft/mods/.index/melody.pw.toml
minecraft/mods/.index/mes-moogs-end-structures.pw.toml
minecraft/mods/.index/mob-drops-recipes-end.pw.toml
minecraft/mods/.index/mob-drops-recipes-nether.pw.toml
minecraft/mods/.index/mob-drops-recipes-overworld.pw.toml
minecraft/mods/.index/modernfix.pw.toml
minecraft/mods/.index/monolib.pw.toml
minecraft/mods/.index/moogs-voyager-structures.pw.toml
minecraft/mods/.index/moonlight.pw.toml
minecraft/mods/.index/more-bows-and-arrows.pw.toml
minecraft/mods/.index/more-useful-copper.pw.toml
minecraft/mods/.index/mouse-tweaks.pw.toml
minecraft/mods/.index/my-nethers-delight.pw.toml
minecraft/mods/.index/natures-compass.pw.toml
minecraft/mods/.index/neoculus.pw.toml
minecraft/mods/.index/netherportalfix.pw.toml
minecraft/mods/.index/new-shield-variants.pw.toml
minecraft/mods/.index/new-slab-variants.pw.toml
minecraft/mods/.index/no-chat-reports.pw.toml
minecraft/mods/.index/noisium.pw.toml
minecraft/mods/.index/not-enough-animations.pw.toml
minecraft/mods/.index/nullscape.pw.toml
minecraft/mods/.index/overloaded-armor-bar.pw.toml
minecraft/mods/.index/owo-lib.pw.toml
minecraft/mods/.index/particular-reforged.pw.toml
minecraft/mods/.index/placebo.pw.toml
minecraft/mods/.index/playeranimator.pw.toml
minecraft/mods/.index/polymorph.pw.toml
minecraft/mods/.index/portable-spawners.pw.toml
minecraft/mods/.index/prickle.pw.toml
minecraft/mods/.index/prism-lib.pw.toml
minecraft/mods/.index/puzzles-lib.pw.toml
minecraft/mods/.index/rar-compat.pw.toml
minecraft/mods/.index/recipe-essentials-forge-fabric.pw.toml
minecraft/mods/.index/resourceful-config.pw.toml
minecraft/mods/.index/resourceful-lib.pw.toml
minecraft/mods/.index/rightclickharvest.pw.toml
minecraft/mods/.index/searchables.pw.toml
minecraft/mods/.index/serene-seasons.pw.toml
minecraft/mods/.index/simple-voice-chat.pw.toml
minecraft/mods/.index/simply-swords.pw.toml
minecraft/mods/.index/skinchanger.pw.toml
minecraft/mods/.index/slice-and-dice.pw.toml
minecraft/mods/.index/smarter-farmers-farmers-replant.pw.toml
minecraft/mods/.index/smooth-chunk-save.pw.toml
minecraft/mods/.index/snow-real-magic.pw.toml
minecraft/mods/.index/snow-under-trees.pw.toml
minecraft/mods/.index/sophisticated-backpacks.pw.toml
minecraft/mods/.index/sophisticated-core.pw.toml
minecraft/mods/.index/sophisticated-storage.pw.toml
minecraft/mods/.index/sound-physics-remastered.pw.toml
minecraft/mods/.index/spark.pw.toml
minecraft/mods/.index/stackable-stew-and-soup.pw.toml
minecraft/mods/.index/storage-drawers.pw.toml
minecraft/mods/.index/structory-towers.pw.toml
minecraft/mods/.index/structory.pw.toml
minecraft/mods/.index/structure-essentials-forge-fabric.pw.toml
minecraft/mods/.index/supermartijn642s-config-lib.pw.toml
minecraft/mods/.index/supermartijn642s-core-lib.pw.toml
minecraft/mods/.index/superoreblock.pw.toml
minecraft/mods/.index/supplementaries-squared.pw.toml
minecraft/mods/.index/supplementaries.pw.toml
minecraft/mods/.index/taxstructurearchitect.pw.toml
minecraft/mods/.index/taxvillagearchitect.pw.toml
minecraft/mods/.index/terrablender-neoforge.pw.toml
minecraft/mods/.index/toast-control.pw.toml
minecraft/mods/.index/towns-and-towers.pw.toml
minecraft/mods/.index/trash-cans.pw.toml
minecraft/mods/.index/trashslot.pw.toml
minecraft/mods/.index/trimseffects.pw.toml
minecraft/mods/.index/vanity.pw.toml
minecraft/mods/.index/villager-names-serilum.pw.toml
minecraft/mods/.index/vintage-animations.pw.toml
minecraft/mods/.index/waddles.pw.toml
minecraft/mods/.index/waystones.pw.toml
minecraft/mods/.index/yeetus-experimentus.pw.toml
minecraft/mods/.index/yungs-api.pw.toml
minecraft/mods/.index/yungs-better-desert-temples.pw.toml
minecraft/mods/.index/yungs-better-dungeons.pw.toml
minecraft/mods/.index/yungs-better-end-island.pw.toml
minecraft/mods/.index/yungs-better-jungle-temples.pw.toml
minecraft/mods/.index/yungs-better-mineshafts.pw.toml
minecraft/mods/.index/yungs-better-nether-fortresses.pw.toml
minecraft/mods/.index/yungs-better-ocean-monuments.pw.toml
minecraft/mods/.index/yungs-better-strongholds.pw.toml
minecraft/mods/.index/yungs-better-witch-huts.pw.toml
minecraft/mods/.index/reliquified-twilight-forest.pw.toml
minecraft/mods/.index/tfthreadsafetyaddon.pw.toml
minecraft/mods/.index/the-twilight-forest.pw.toml
minecraft/mods/.index/twilight-forest-dungeons-villages.pw.toml
minecraft/mods/.index/twilight-treehouses.pw.toml
minecraft/mods/.index/twilights-flavors-delight.pw.toml
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/bc8254784a689bd342aeb37ef8989f7a_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/bc8254784a689bd342aeb37ef8989f7a_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/bc8254784a689bd342aeb37ef8989f7a_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/bc8254784a689bd342aeb37ef8989f7a.png
minecraft/mods/Forgematica-0.3.3-mc1.21.1.jar
minecraft/mods/acedium-0.3.0.jar
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e4b760e57f66f5c1485d0e445e78ad4_eighth.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e4b760e57f66f5c1485d0e445e78ad4_half.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e4b760e57f66f5c1485d0e445e78ad4_quarter.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e4b760e57f66f5c1485d0e445e78ad4_thumbnail.png
minecraft/immersive_paintings_cache/43790ca3-1018-3daa-ba4b-fe2daa11e089/7e4b760e57f66f5c1485d0e445e78ad4.png
minecraft/mods/.index/create-central-kitchen.pw.toml
minecraft/mods/.index/create-design-n-decor.pw.toml
minecraft/mods/.index/create-dragons-plus.pw.toml
minecraft/mods/.index/create-dreams-and-desires.pw.toml
minecraft/mods/.index/create-enchantment-industry.pw.toml
minecraft/mods/.index/create-misc-and-things.pw.toml
minecraft/mods/.index/enchantmentsplus.pw.toml
minecraft/mods/.index/mob-ai-tweaks.pw.toml
minecraft/mods/.index/silent-lib.pw.toml
minecraft/config/inventoryprofilesnext/La Soleil/prev-villager-trading-config-v2.json
minecraft/config/inventoryprofilesnext/La Soleil/villager-trading-config-v2.json
minecraft/mods/.index/jer-integration.pw.toml
minecraft/mods/.index/just-enough-resources-jer.pw.toml
minecraft/mods/.index/nvidium-reforged.pw.toml
minecraft/mods/.index/silents-power-scale.pw.toml
minecraft/mods/.index/the-world-of-herobrine.pw.toml
*.log
/minecraft/mods/.index
/minecraft/config/inventoryprofilesnext/minesimons.enxada.host
/minecraft/config/inventoryprofilesnext/minesimons.enxada.host
/minecraft/config/inventoryprofilesnext/minesimons.enxada.host
